.film_card {
  font-size: 16px;
  color: #A9A8A3;
  min-height: 600px;
  z-index: 8;
  .film_card__content {
    background: #F0F0ED;
    border-radius: 4px;
    position: relative;
    min-height: 600px;
    z-index: 8;
    box-shadow: rgba(0, 0, 0, 0.8) 0 30px 18px -24px;
    .film_card__info{
        height: 320px;  
        margin:0;
        position: relative;
        overflow: hidden;
        z-index:1;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        .film_card__info_cover {
          width:100%; 
          height:100%;
          
          position:absolute;
          overflow: hidden;
          top:0; left:0;

          background:red;
          z-index: -1;
         
          transform: skewY(-2.2deg);
          transform-origin:0 0;

          background-size: cover;
          
          //chrome antialias fix
          -webkit-backface-visibility: hidden; 

          &:before{
            content: '';
            position: absolute;
            bottom: 0;
            height: 260px;
            background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
            left: 0;
            width: 100%;
          }
          
        }

        .film_card__info_details {
  
          padding: 180px 0 0 320px;

          h1 {
              color: white;
              font-size: 32px;
              line-height: 32px;
              position: relative;
              font-weight: normal;
              
            
            }
 
        }
          
    }

    .film_card__info_desc{
      padding: 24px 24px 80px 320px;
    }
  }
  .film_card__left{
      position: absolute;
      top: 160px;
      left: 40px;
      z-index: 2;

    .film_card__cover {
      
      display: block;
      
      img{
        width: 240px;
        border-radius: 4px;
        box-shadow: rgba(0, 0, 0, 0.8) 0 30px 18px -24px;
  
      }
    }
    ul{
      list-style: none;
      display: inline-block;

      li{
        display: inline-block;
        vertical-align: top;
        
        &:first-child{
          font-size: 12px;
          padding: 8px 16px;
        }
        &:last-child{
          font-size: 22px;
          padding-top: 0px;
          padding: 0 8px;
        }
      }
    }

  }
  
  .film_card__overlay{
    position: absolute;
    left: 0;
    right: 0;
    position: fixed;
    bottom: 0;
    top: 0;
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;
  }

  .film_card__nav{
    position: relative;
    z-index: 2;
    margin-top: 80px;
    .nav__card{
      cursor: pointer;

      margin-bottom: 80px;
      box-shadow: rgba(0, 0, 0, 0.8) 0 0px 18px 0;

      .nav__card_header{

        min-height: 100px;

        background-position: center;

        border-bottom: 1px solid #4a4a4a;
        border-top: 1px solid #4a4a4a;
        border-radius: 4px;

        background-size: cover;

        .header__left{

          position: absolute;
          width: 120px;
          height: 160px;
          background: red;
          border-radius: 4px;
          overflow: hidden;
          top: 50%;
          margin-top: -120px;
          transition: all 0.3s ease;
          img{
            width: 100%;
          }
        }
        .header__right{

          transition: all 0.3s ease;
          
          h6{
            font-size: 12px;
            font-weight: 100;
            text-transform: uppercase;
            letter-spacing: 6px;
            padding-bottom: 8px;
            margin-bottom: 24px;
            position: relative;
            box-shadow: 0px 1px 0px #868686;
            &:after{
              top: 50%;
              border: solid transparent;
              content: " ";
              height: 0;
              width: 0;
              position: absolute;
              pointer-events: none;
              border-color: transparent;
              border-left-color: #868686;
              border-width: 6px;
              margin-top: 5px;
            }
          }
          h4{
            font-size: 16px;
          }
        }
      }
      &.card_next{
        .header__left{
          left: 32px;
        }
        .header__right{
          padding-left: 140px;
          h6{
            &::after{
              right: -6px;
            }
          }
        }
        &:hover{
          .header__left{
            left: 40px;
          }
          .header__right{
            padding-left: 148px;
          }
        }
      }
      &.card_prev{
        .header__left{
          right: 32px;
        }
        .header__right{
          padding-right: 140px;
          h6{
            &::after{
              left: -6px;
              transform: rotate(-180deg);
            }
          }
        }
        &:hover{
          .header__left{
            right: 40px;
          }
          .header__right{
            padding-right: 148px;
          }
        }
      }
    }
  }
}
