.navbar {
  font-weight: 600;
  z-index: 2;
  
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  .navbar-brand{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;

    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: 16px;
    
  }
  .nav-item a{
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
  }
}

.nav-item {
  .dropdown-menu {
    border: none;
    margin-top: .5rem;
    border-top: 1px solid #f2f2f2 !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08);
  }
}

.nav-link {
  .svg-inline--fa {
    font-size: 1.4rem;
  }
}
