<template>
  <card :title="$t('Add New Film')">
    <form @submit.prevent="create" @keydown="form.onKeydown($event)" enctype="multipart/form-data" novalidate>
      <alert-success :form="form" :message="$t('info_updated')"/>


			<!-- photo -->
			<div class="form-group row" :class="{ 'is-invalid': form.errors.has('photo') }">
				<div class="col-md-12">
					<picture-input 
						ref="pictureInput"
						width="300" 
						height="400" 
						margin="16" 
						accept="image/jpeg,image/png" 
						size="10" 
						:removable=true
						button-class="btn"
						:custom-strings="{
							upload: '',
							drag: 'Drag or click here to add photo'
						}"
						@change="onChange">
    			</picture-input>
					<has-error :form="form" field="photo" class="text-center"/>
				</div>
				
			</div>

      <!-- Name -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">{{ $t('Name') }}</label>
        <div class="col-md-7">
          <input v-model="form.name" :class="{ 'is-invalid': form.errors.has('name') }" class="form-control" type="text" name="name">
          <has-error :form="form" field="name"/>
        </div>
      </div>

			 <!-- Desc -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">{{ $t('Description') }}</label>
        <div class="col-md-7">
          <textarea v-model="form.description" :class="{ 'is-invalid': form.errors.has('description') }" class="form-control" name="description"></textarea>
          <has-error :form="form" field="description"/>
        </div>
      </div>


			<div class="row">
				<div class="col-md-6">
						<!-- Release -->
						<div class="form-group row">
							<label class="col-md-6 col-form-label text-md-right">{{ $t('Release Date') }}</label>
							<div class="col-md-6">
								<input v-model="form.release_date" :class="{ 'is-invalid': form.errors.has('release_date') }" class="form-control" type="date" name="release_date">
								<has-error :form="form" field="release_date"/>
							</div>
						</div>
				</div>
				<div class="col-md-6">
						<!-- Country -->
						<div class="form-group row">
							<label class="col-md-2 col-form-label text-md-left">{{ $t('Country') }}</label>
							<div class="col-md-6">
								<input v-model="form.country" :class="{ 'is-invalid': form.errors.has('country') }" class="form-control" type="text" name="country">
								<has-error :form="form" field="country"/>
							</div>
						</div>
				</div>
			</div>

			<!-- Ticket Price -->
			<div class="form-group row">
				<label class="col-md-3 col-form-label text-md-right">{{ $t('Ticket Price') }}</label>
				<div class="col-md-3">
					<div class="input-group mb-2">
						<div class="input-group-prepend">
							<div class="input-group-text">$</div>
						</div>
						<input v-model="form.ticket_price" :class="{ 'is-invalid': form.errors.has('ticket_price') }" class="form-control" type="text" name="ticket_price">
						<has-error :form="form" field="ticket_price"/>
					</div>
					
					
				</div>
			</div>

			<!-- rating -->
			<div class="form-group row" :class="{ 'is-invalid': form.errors.has('rating') }">
				<label class="col-md-3 col-form-label text-md-right">{{ $t('Rating') }}</label>
				<div class="col-md-3">
						<star-rating :rating="0" :star-size="32" :padding="8" @rating-selected="setRating"></star-rating>
						<has-error :form="form" field="rating"/>
				</div>
				
			</div>

			<!-- genre -->
			<div class="form-group row" :class="{ 'is-invalid': form.errors.has('genre') }">
				<label class="col-md-3 col-form-label text-md-right">{{ $t('Genre') }}</label>
				<div class="col-md-7">
						<input-tag v-model="form.genre"></input-tag>
						<has-error :form="form" field="genre"/>
				</div>
				
			</div>

			

      <!-- Submit Button -->
      <div class="form-group row">
        <div class="col-md-9 ml-md-auto">
          <v-button :loading="form.busy" type="success">{{ $t('Add New Film') }}</v-button>
        </div>
      </div>
    </form>
  </card>
</template>

<script>
import Form from 'vform'
import StarRating from 'vue-star-rating'
import PictureInput from 'vue-picture-input'
import InputTag from 'vue-input-tag'

export default {
	middleware: 'auth',
	
	components: {
				StarRating,
				PictureInput,
				InputTag
    },

  metaInfo () {
    return { title: this.$t('Add new Film') }
  },
  data: () => ({
    form: new Form({
      name: '',
      description: '',
      release_date: '',
			rating: '',
			ticket_price: '',
			country: '',
			photo: '',
			genre: []
    })
	}),
	methods: {
    async create () {
			await this.form.post('/api/films')
				.then(({ data }) => {
					this.$router.push('/films/' + data.slug)
				})
      this.form.reset()
		},
		setRating: function(rating) {
			console.log(rating);
      this.form.rating = rating
		},
		onChange (photo) {
      if (photo) {
        this.form.photo = photo
      } else {
        console.log('FileReader API not supported: use the <form>, Luke!')
      }
    }
  }
}
</script>

<style>
.form-group.is-invalid .invalid-feedback{
	display: block;
}
.swal2-container{
	z-index: 99999;
}
</style>
