<template>
  <film/>
</template>

<script>
import { mapGetters } from 'vuex'
import Film from '../components/Film'

export default {

  metaInfo () {
    return { title: this.$t('home') }
  },

  data: () => ({
    title: window.config.appName
  }),

  components: {
    Film
  }
}
</script>


