<template>
    <div class="film_card" v-if="film">
        <div class="row">
            <div class="col-md-8 m-auto">
                <div class="film_card__content">
                    
                    <div class="film_card__left">
                        <a href="#" class="film_card__cover">
                            <img :src="'/images/' + film.photo" :alt="film.name"/>
                        </a>

                        <ul class="text-danger border rounded p-0 border-danger mt-4">
                            <li class="bg-danger text-white text-uppercase">Ticket Price</li>
                            <li class="text-bold">
                                <small>$</small>
                                <strong>{{ film.ticket_price }}</strong>
                            </li>
                        </ul>
                    </div>

                    <div class="film_card__info">
                        <div class="film_card__info_cover" :style="{ backgroundImage: 'url(/images/' + film.photo + ')' }"></div>

                        <div class="film_card__info_details">

                            <h1 class="mb-1">{{ film.name }}</h1>
                            <div class="row">
                                <div class="col-md-4">
                                    <h6 class="m-0 pt-2 small">{{ film.release_date | moment("DD MMMM YYYY") }}</h6>
                                </div>
                            
                                <div class="col"><star-rating :rating="film.rating" :star-size="16" :read-only="true" :padding="8"></star-rating></div>
                            </div>
                        </div>

                       
                    </div>

                     <div class="film_card__info_desc">
                            <div class="row">
                                <div class="col-md-4">
                                    <p class="text-secondary text-uppercase small mb-1">Country</p>
                                    <p class="text-dark text-uppercase small"><strong>{{ film.country }}</strong></p>
                                </div>
                                <div class="col-md-8">
                                    <p class="text-secondary text-uppercase small mb-1">Genre</p>
                                    <p class="text-dark text-uppercase small"><strong>{{ film.genre }}</strong></p>
                                </div>
                            </div>
                            <p class="pt-1 pr-4 text-dark">{{ film.description}} </p>
                        </div>
                    
                </div>
            </div> 
        </div>
        <div class="film_card__overlay" :style="{ backgroundImage: 'linear-gradient(rgba(30, 27, 38, 0.9), rgba(30, 27, 38, 0.9)), url(/images/' + film.photo + ')' }">
        
        </div>

        <div class="film_card__nav">
            <div class="row">
                <div class="col-md-8 m-auto">
                    <div class="row">
                    <div class="col-md-6">
                        <div class="nav__card card_prev" v-if="previous" @click.prevent="changeFilm(previous.slug)">
                            <div class="nav__card_header p-3" :style="{ backgroundImage: 'linear-gradient(rgba(30, 27, 38, 0.8), rgba(30, 27, 38, 0.8)), url(/images/' + previous.photo + ')' }">

                            <div class="header__left">
                                <img :src="'/images/' + previous.photo" :alt="previous.name">
                            </div>
                            <div class="header__right text-white">
                                <h6>Previous</h6>
                                <h4>{{ previous.name }}</h4>
                            </div>

                        </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="nav__card card_next" v-if="next" @click.prevent="changeFilm(next.slug)">
                            <div class="nav__card_header p-3" :style="{ backgroundImage: 'linear-gradient(rgba(30, 27, 38, 0.8), rgba(30, 27, 38, 0.8)), url(/images/' + next.photo + ')' }">

                            <div class="header__left">
                                <img :src="'/images/' + next.photo" :alt="next.name">
                            </div>
                            <div class="header__right text-white">
                                <h6>Next</h6>
                                <h4>{{ next.name }}</h4>
                            </div>

                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import StarRating from 'vue-star-rating'

export default {
    components: {
        StarRating
    },
    data () {
        return {
        }
    },

    mounted () {
        let id = this.$route.params.id ? this.$route.params.id : null
        this.$store.dispatch('film/fetchFilm', {id: id})
    },
    computed: mapGetters({
        film: 'film/film',
        previous: 'film/previous',
        next: 'film/next'
    }),
  
  methods: {
    async changeFilm (id) {
      await this.$store.dispatch('film/fetchFilm', {id: id})
      this.$router.push('/films/' + id)
    }
  }
}
</script>

